.intro__text {
  margin-top: 0;
  margin-bottom: 33px;
  max-width: 100%;
  min-height: 208px;
  font-size: 16px;
  line-height: 163%;
}
@media screen and (max-width: 767px) {
  .intro__text {
    margin-bottom: 34px;
  }
}
