.place__link {
  max-width: 100%;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity 0.5s ease-in-out;
}
.place__link:hover {
  opacity: 0.6;
}
