.page {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-width: 320px;
  background-color: #2a2c2f;
  font-family: 'inter', Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.border {
  border: 1px solid yellow;
}
