.footer__links {
  display: flex;
  max-width: calc(100% - 190px);
}
@media screen and (max-width: 767px) {
  .footer__links {
    max-width: 100%;
    margin-bottom: 48px;
    flex-direction: column;
  }
}
