.place__website {
  max-width: 456px;
  align-self: self-end;
}
@media screen and (max-width: 1023px) {
  .place__website {
    max-width: 352px;
  }
}
@media screen and (max-width: 767px) {
  .place__website {
    max-width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
  }
}
